@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #14976B !important;
}

.nav-right {
    margin-right: 2em;
}

.body-container {
    padding-top: 120px;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 99;
    padding: 1em;
}

.links {
    margin-left: 60%;
}

.links a {
    padding: 10px;
    font-size: 20px;
}

.login {
    font-size: 20px;
}

.nav-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
