.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 200px;
    top: 220px;
    left: 10%;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 10px;
    width: 250px;
}

#ov-province {
    margin-top: -20px;
    font-weight: bold;
}

#ov-municity {
    text-decoration: underline;
    margin-top: -20px;
}

#ov-gradient {
    width: 150px;
    margin-top: -10px;
    height: 10px;
    background-image: linear-gradient(to right, #dc2727, #f8b20c, #48e74f);
}

.ov-essinfo {
    text-indent: 20px;
}

#donoamount,
#affected {
    margin-top: -20px;
}

#donodrive,
#donoamount,
#affected {
    font-size: medium;
}

#donodrive {
    margin-top: 10px;
}
