@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("background.jpg") no-repeat center fixed;
background-size: cover;
font-family: 'Montserrat', sans-serif;
}

a, h1, h2, h3 {
color: white;
}

h1 {
font-weight: bold;
text-align: left;
}

h2 {
font-size: 35px;
}

.content {
display: flex;
flex-direction: column;
align-items: center;
}

nav {
position: fixed;
display: flex;
align-items: center;
width: 100%;
height: 70px;
z-index: 1;
}

.dash {
background-color: white;
color: black;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 20px;
cursor: pointer;
font-size: 20px;
font-weight: bold;
border-radius: 32px;
width: 200px;
}

.links {
margin-left: 60%;
}

.links a{
padding: 10px;
font-size: 20px;
}

.login {
font-size: 20px;
}

img {
width:50px;
height:50px;
padding: 0px 10px 0px 40px;
}