
h1 {
    font-weight: bold;
    font-size: 40px;
    color: #f8b20c;
    top: 100px;
    text-transform: uppercase;
}

.heading-sub{
    width: 700px;
    color: rgb(223, 223, 223);
}

.uk-card-media-top img{
    height: 200px;
    width: 100%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}