
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    
    .uk-section uk-light uk-background-cover {
        position: absolute;
        width: 100%;
    }

    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .uk-card uk-card-secondary{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20x;
        line-height: 24px;
        padding: 50px;
        margin: 30px;
        width: 330px;
        height: 440px;
    }

    .form-btns {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 43px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
    }

    .sec2{
        position: relative;
        font-family: 'Montserrat', sans-serif;
        height:600px;
    }

    .sec2 h1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top:60px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 98px;

        color: #FFFFFF;
    }
    
    .container {
        background: #222427;
        margin-top:25px;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 375px;  
        height: 385px;
        border-bottom: 4px solid #f8b20c;
    }

    .container-left {
        left: 40px;
    }

    .container-mid {
        left: 485px;
    }

    .container-right {
        left: 925px;
    }

    .elipse {
        position: absolute;
        margin-top:50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80px;
        height: 80px;
        background: #191A1E;
        border-radius: 50%;
    }

    .elipse i{
        font-size:40px;
        color: #f8b20c;
    }

    .container h2{
        position: absolute;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 28px; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 160px;
        color: #FFFFFF;
    }

    .button-readmore {
        position: absolute;
        font-family: Montserrat;
        width: 220px;
        height: 50px;
        top: 300px;
        border-radius:10px;
        font-size: 18px;
        background:none;
        cursor:pointer;
        border: 1px solid #f8b20c;
        color: #f8b20c;
    }

    .button-readmore:hover {
        border: 1px solid rgba(255, 255, 255, 1);
        color: #222427;
        background:white;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
    }