
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    
    .uk-card {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 43px;
        position: absolute;
        left: 25%;
        padding: 50px;
    }

    .line {
        height: 0px;
        width: 40%;
        padding-top: 20px;
    }

    .uk-legend {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center; 
    }

    .uk-card-title {
        text-align: center;
    }

    .uk-form-label {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 43px;
        text-align: left;
        text-transform: uppercase;
    }
    
    .uk-select, .uk-textarea {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 43px;
        text-align: left; 
    }

    .form-btns {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 43px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
    }

    .uk-input, .uk-select {
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        border-radius: 15px;
        font-size: 18px;
    }

    .agreement {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }