
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
    
    .form-btns {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 43px;
        text-align: center;
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        padding: 10px;
        border-radius: 15px;
    }